# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Code Quality Check

on:
  push:
    branches: [main]
  pull_request:

env:
  FLAKE8_VERSION: 5.0.4
  BLACK_VERSION: 23.3.0

jobs:
  format:
    name: Format and Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: psf/black@stable
        with:
          src: "./acapy_cache_redis"
      - uses: chartboost/ruff-action@v1
        with:
          src: "./acapy_cache_redis"
